.navLinks {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    padding: 10px 0;
}

.navLinksHoome {
    display: flex;
    gap: 15px;
    width: 40%;
}

.link {
    border: ridge;
    width: 50%;
}